body{
    box-sizing: border-box;
}
#menu-overlay{
    background-color:rgb(34, 32, 32);
    position: absolute;
    height: 100vh;
    display:none;
    z-index: 1000;
}
.m{
    height: 80vh;
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-items: stretch;
    margin-top: 10px;
}
.menu-buttons{
    margin: 15px;
    width: 30%;
    border-radius: 5px;
    font-size: 10vw;
    border: 2px solid white;
    color: white;
    background-color: rgb(54, 54, 54);
    transition: background-color 0.5s,color 0.5s;
}
.menu-buttons:hover{
    background-color: rgb(182, 182, 60);
    color: black;
}
#cross{
    height: 40px;
    margin-left: 2px;
    width :50px;
}
.close{
    background-color: transparent;
    border: none;
}
.control-top{
    width: 30%;
    height: 5vh;
}
.iconed{
    width: 5em;
    height: 10vh;
    background-color: yellow;
    border: none;
    transition: height 0.2s,width 0.2s;
}
.iconed:hover{
    height: 15vh;
    width: 7em;
}
#controls{
    color: aliceblue;
    justify-content: space-around;
    align-items: center;  
    width: 100%;
    height: 25vh;
    padding-bottom: 5%;
}
.coo{
    position: absolute;
    bottom: 0px;
    width: 100%;
}
.controller{
    color: aliceblue;
    font-size: 4em;
    border-radius: 50%;
    width: 20vmin;
    height: 20vmin;
    font-size: 8vmin;
    border-width: 5px;
    background-color: rgb(58, 58, 58);
}
.rock{
    border-color: blueviolet;
}
.paper{
    border-color: yellowgreen;
}
.scissor{
    border-color: rgb(255, 94, 0);
}
.game{
    position: absolute;
    top: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 10rem;
    height: 50vh;
}
.temp{
    display: none !important;
}
.leftside{
    transform: rotate(90deg);
}
.rightside{
    transform: rotate(-90deg) scaleX(-1);
}
.count{
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 20px;
    margin-bottom: 10vmin;
}
.user,.oppo{
    width: 35%;
    display: flex;
    justify-content: space-between;
}
.o,.u{
    height: 20px;
    width: 20px;
    background-color: rgb(58, 58, 58);
    border-radius: 5px;
    transition: background-color 0.7s;
}
#name{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.layer1{
    height: 22vmin;
    width: 22vmin;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.layer2{
    height: 24vmin;
    width: 24vmin;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.layer3{
    height: 26vmin;
    width: 26vmin;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.result{
    margin:0px;
}
.rounds{
    z-index: 5000;
    width: 100%;
    height: 100vh;
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.856);
}
.round-items{
    margin: 3vmin;
    width: 10vmin;
    height: 10vmin;
    background-color: rgb(143, 143, 3);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    transition: height 0.2s;
    color: black;
}
.round-items:hover{
    height: 14vmin;
}

